<a href="https://colab.research.google.com/github/dmbk/quick_tools/blob/main/text_to_sql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:

import requests
import json
import pandas as pd
import pandasql as ps
import re

#This is thee file that is used to query using SQL commands for demo
df = pd.read_csv("HotelReservations.csv", ",")

OPENAI_API_KEY="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"
url = 'https://api.openai.com/v1/chat/completions'
headers = {
        'Content-Type': 'application/json',
        'Authorization': f'Bearer {OPENAI_API_KEY}'
    }

def check_if_harm(input_string):
    
    pattern = r'\b(DROP|TRUNCATE)\b'
    if re.search(pattern, input_string, flags=re.IGNORECASE):
        print("Harmful SQL statement found.")
        return -1
    else:
        print("No harmful SQL statement found.")
        return 0


def strip_sql(input_string):
    start_index = input_string.find('SELECT')

    if start_index != -1:
        # If the word is found, extract the substring starting from the word
        output_string = input_string[start_index:]
        if not check_if_harm(output_string):
            return output_string
        else:
            print("harmful SQL")
            return None
    else:
        print("Word not found in string.")
        None


def execute_sql(sql_str):
    output_df  = ps.sqldf(f"{sql_str}")
    return output_df


def process_sql(data):
    
    if 'choices' in data and len(data['choices']) > 0:
        choices = data['choices']
        for choice in choices:
            if 'finish_reason' in choice and choice['finish_reason'] == 'stop':
               
                print(choice['message']['content'])
                sql_str = strip_sql(choice['message']['content'])
                if sql_str:
                    return execute_sql(sql_str)
                else:
                    None

    else:
        print("No 'choices' field found in the response or it was empty.")
        return None


def process_text_to_sql(text):

    payload = {
        "model": "gpt-3.5-turbo",
        "messages": [{"role": "user", "content": f"{text}"}]
    }
    response = requests.post(url, headers=headers, data=json.dumps(payload))

    if response.status_code == 200:
        data = response.json()
        return process_sql(data)
        # do something with the data
    else:
        print(f'Request failed with status code {response.status_code}')

<ipython-input-3-45db04908315>:8: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only.
  df = pd.read_csv("HotelReservations.csv", ",")

In [6]:
def ask_q(question):
    return process_text_to_sql(f"These are the field names of a table in a SQL server database. {str(df.columns.tolist())}. the name of the table is df"
                    + "Do not output anything else other than SQL and "
                    + "reply me with a SQL query for the following question using the information you have about the table df"
                    +f"{question}")

In [40]:

#ask_q("How many accomodation types are Hotel")
#ask_q("what country names are present")

SELECT DISTINCT country FROM df;
No harmful SQL statement found.

         country
0  United States

In [8]:
ask_q("what is the most common meal plan for year 2018")

SELECT type_of_meal_plan, COUNT(type_of_meal_plan) AS count
FROM df
WHERE arrival_year = 2018
GROUP BY type_of_meal_plan
ORDER BY count DESC
LIMIT 1;
No harmful SQL statement found.

  type_of_meal_plan  count
0       Meal Plan 1  22943

In [15]:
ask_q("How many adults with children had weekend nights")

SELECT COUNT(*) FROM df WHERE no_of_adults > 0 AND no_of_children > 0 AND no_of_weekend_nights > 0;
No harmful SQL statement found.

   COUNT(*)
0      1474

In [17]:
ask_q("How many adults with children ordered Meal Plan 2")

SELECT COUNT(*) FROM df WHERE no_of_adults > 0 AND no_of_children > 0 AND type_of_meal_plan = 'Meal Plan 2'
No harmful SQL statement found.

   COUNT(*)
0       169

In [25]:
ask_q("show me the number of  Canceled bookings for each arival month")

SELECT
    arrival_month,
    COUNT(*) as num_of_canceled_bookings
FROM
    df
WHERE
    booking_status = 'Canceled'
GROUP BY
    arrival_month
No harmful SQL statement found.

    arrival_month  num_of_canceled_bookings
0               1                        24
1               2                       430
2               3                       700
3               4                       995
4               5                       948
5               6                      1291
6               7                      1314
7               8                      1488
8               9                      1538
9              10                      1880
10             11                       875
11             12                       402

In [18]:
df

,Booking_ID,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,INN00001,2,0,1,2,Meal Plan 1,0,Room_Type 1,224,2017,10,2,Offline,0,0,0,65.00,0,Not_Canceled
1,INN00002,2,0,2,3,Not Selected,0,Room_Type 1,5,2018,11,6,Online,0,0,0,106.68,1,Not_Canceled
2,INN00003,1,0,2,1,Meal Plan 1,0,Room_Type 1,1,2018,2,28,Online,0,0,0,60.00,0,Canceled
3,INN00004,2,0,0,2,Meal Plan 1,0,Room_Type 1,211,2018,5,20,Online,0,0,0,100.00,0,Canceled
4,INN00005,2,0,1,1,Not Selected,0,Room_Type 1,48,2018,4,11,Online,0,0,0,94.50,0,Canceled
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36270,INN36271,3,0,2,6,Meal Plan 1,0,Room_Type 4,85,2018,8,3,Online,0,0,0,167.80,1,Not_Canceled
36271,INN36272,2,0,1,3,Meal Plan 1,0,Room_Type 1,228,2018,10,17,Online,0,0,0,90.95,2,Canceled
36272,INN36273,2,0,2,6,Meal Plan 1,0,Room_Type 1,148,2018,7,1,Online,0,0,0,98.39,2,Not_Canceled
36273,INN36274,2,0,0,3,Not Selected,0,Room_Type 1,63,2018,4,21,Online,0,0,0,94.50,0,Canceled
36274,INN36275,2,0,1,2,Meal Plan 1,0,Room_Type 1,207,2018,12,30,Offline,0,0,0,161.67,0,Not_Canceled