<a href="https://colab.research.google.com/github/dmbk/quick_tools/blob/main/text_to_sql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [38]:

import requests
import json
import pandas as pd
import pandasql as ps
import re

#This is thee file that is used to query using SQL commands for demo
df = pd.read_csv("inventory.csv", ";")

OPENAI_API_KEY="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"
url = 'https://api.openai.com/v1/chat/completions'
headers = {
        'Content-Type': 'application/json',
        'Authorization': f'Bearer {OPENAI_API_KEY}'
    }

def check_if_harm(input_string):
    
    pattern = r'\b(DROP|TRUNCATE)\b'
    if re.search(pattern, input_string, flags=re.IGNORECASE):
        print("Harmful SQL statement found.")
        return -1
    else:
        print("No harmful SQL statement found.")
        return 0


def strip_sql(input_string):
    start_index = input_string.find('SELECT')

    if start_index != -1:
        # If the word is found, extract the substring starting from the word
        output_string = input_string[start_index:]
        if not check_if_harm(output_string):
            return output_string
        else:
            print("harmful SQL")
            return None
    else:
        print("Word not found in string.")
        None


def execute_sql(sql_str):
    output_df  = ps.sqldf(f"{sql_str}")
    return output_df


def process_sql(data):
    
    if 'choices' in data and len(data['choices']) > 0:
        choices = data['choices']
        for choice in choices:
            if 'finish_reason' in choice and choice['finish_reason'] == 'stop':
               
                print(choice['message']['content'])
                sql_str = strip_sql(choice['message']['content'])
                if sql_str:
                    return execute_sql(sql_str)
                else:
                    None

    else:
        print("No 'choices' field found in the response or it was empty.")
        return None


def process_text_to_sql(text):

    payload = {
        "model": "gpt-3.5-turbo",
        "messages": [{"role": "user", "content": f"{text}"}]
    }
    response = requests.post(url, headers=headers, data=json.dumps(payload))

    if response.status_code == 200:
        data = response.json()
        return process_sql(data)
        # do something with the data
    else:
        print(f'Request failed with status code {response.status_code}')

<ipython-input-38-67d592be68d2>:8: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only.
  df = pd.read_csv("inventory.csv", ";")

In [39]:
def ask_q(question):
    return process_text_to_sql(f"These are the field names of a table in a SQL server database. {str(df.columns.tolist())}. the name of the table is df"
                    + "Do not output anything else other than SQL and "
                    + "reply me with a SQL query for the following question using the information you have about the table df"
                    +f"{question}")

In [40]:

    
ask_q("what country names are present")

SELECT DISTINCT country FROM df;
No harmful SQL statement found.

         country
0  United States

In [44]:
ask_q("How many accomodation types are Hotel")

SELECT COUNT(*) FROM df WHERE accommodation_type = 'Hotel'
No harmful SQL statement found.

   COUNT(*)
0         5

In [42]:
df

,partner_reference,name,address,postcode,city,state,country,country_id,longitude,latitude,phone,fax,email,currency,accommodation_type,category,web
0,1007,Catalina Inn,2015 McFarland Blvd,35476-2920,Northport (Tuscaloosa Area),ALABAMA,United States,US,-99.297,376.062,61 3 5023 3266,620/723-2245,info@yourdomain.com,USD,Hotel,5.0,http://www.yourdomain.com/hotel
1,1044,Dothan Inn & Suites,3285 Montgomery Hwy,36303-2108,Dothan,ALABAMA,United States,US,1.421.403,-342.039,1 620 4218000,1 913 727-2777,info@yourdomain.com,USD,Hostel,2.0,http://www.yourdomain.com/hotel
2,1047,on the Beach,337 E Beach Blvd,36542-6505,Gulf Shores,ALABAMA,United States,US,1.421.382,-342.048,1 913 6516000,1 785 841-1901,info@yourdomain.com,USD,Hostal,2.0,http://www.yourdomain.com/hotel
3,1051,Athens Inn,1329 US Highway 72 E,35611-4405,Athens,ALABAMA,United States,US,-99.297,376.062,61 3 5023 3266,620/723-2245,info@yourdomain.com,USD,Resort,5.0,http://www.yourdomain.com/hotel
4,1063,Park Plaza Motor Inn,3801 McFarland Blvd E,35405-2403,Tuscaloosa,ALABAMA,United States,US,1.421.403,-342.039,1 620 4218000,1 913 727-2777,info@yourdomain.com,USD,Appartment,NaN,http://www.yourdomain.com/hotel
5,1064,Inn,56 Cahaba Rd,36037-4307,Greenville,ALABAMA,United States,US,1.421.382,-342.048,1 913 6516000,1 785 841-1901,info@yourdomain.com,USD,Hotel,4.0,http://www.yourdomain.com/hotel
6,1065,Abbeville Inn,1237 US Highway 431 S,36310-2059,Abbeville,ALABAMA,United States,US,-99.297,376.062,61 3 5023 3266,620/723-2245,info@yourdomain.com,USD,Hotel,3.0,http://www.yourdomain.com/hotel
7,1066,Fairwinds Inn,1917 Commerce Ave,35055-6151,Cullman,ALABAMA,United States,US,1.421.403,-342.039,1 620 4218000,1 913 727-2777,info@yourdomain.com,USD,Hotel,4.0,http://www.yourdomain.com/hotel
8,1067,Riviera Inn,1504 S McKenzie St,36535-1727,Foley,ALABAMA,United States,US,1.421.382,-342.048,1 913 6516000,1 785 841-1901,info@yourdomain.com,USD,Hotel,1.0,http://www.yourdomain.com/hotel